.homeWrapper {
  width: 100vw;
  height: 100vh;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__content {
  transform-style: preserve-3d;
  cursor: default;
}

.card__content:hover {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  backface-visibility: hidden;
}

.card__back {
  transform: rotateY(.5turn);
}
